<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Buy Products</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Buy Products</h1>
    <div th:if="${response != null}" style="margin-top: 20px;">
        <p th:text="${response}"></p>
    </div>
    <div th:if="${response == null}"style="margin-top: 20px;">
        <p>No response available.</p>
    </div>
    <a th:href="@{/home}" class="button">Back to Home</a>
</body>
</html>