<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Hatched Eggs</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<h1>Hatched Eggs</h1>

	<div th:if="${errorMessage != null}">
		<p style="color: red" th:text="${errorMessage}"></p>
	</div>

	<div th:if="${hatchedEggs != null}">
		<table border="1">
			<thead>
				<tr>
					<th>Egg ID</th>
					<th>FarmOwnerId</th>
					<th>Days to Eclode</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="egg : ${hatchedEggs}">
					<td th:text="${egg.id}"></td>
					<td th:text="${egg.farmOwner.id}"></td>
					<td th:text="${egg.chickenCountdown}"></td>
				</tr>
			</tbody>
		</table>
	<div />
	<br/>
	<a th:href="@{/home}" class="button">Back to Home</a>
</body>

</html>