<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>List Eggs Form</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>

	<h2>List Eggs</h2>

	<div th:if="${eggs != null}">
		<table border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>Sell Price</th>
					<th>Countdown to Chickens</th>
					<th>Is being Hatched?</th>
					<th>Has Ecloded?</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="egg : ${eggs}">
					<td th:text="${egg.id}"></td>
					<td th:text="${egg.sellPrice}"></td>
					<td th:text="${egg.chickenCountdown}"></td>
					<td th:text="${egg.isHatched}"></td>
					<td th:text="${egg.isEcloded}"></td>
				</tr>
			</tbody>
		</table>
		<br>
		<a th:href="@{/home}" class="button">Back to Home</a>
	</div>
	<div th:if="${eggs == null}">
		<p th:text="${message}"></p>
		<br>
		<a th:href="@{/home}" class="button">Back to Home</a>
	<div/>

</body>

</html>